@model Tuple<List<TestApp.Models.Learning_activity>, TestApp.Models.ViewModels.IntDTO, TestApp.Models.ViewModels.IntDTO>
<h1>Modules</h1>

@if (Model != null && Model.Item1.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Activity Type</th>
            <th>Instruction Details</th>
            <th>Max Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var activity in Model.Item1)
        {
            <tr>
                <td>@activity.activity_type</td>
                <td>@activity.instruction_details</td>
                <td>@activity.Max_points</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No Activities found.</p>
}
<a asp-action="AddLearningActivity1" asp-controller="Instructor" asp-route-courseID="@Model.Item2.Value" asp-route-moduleID="@Model.Item3.Value" class="btn btn-primary">Add Activity</a>