@model List<TestApp.Models.Module>

<h1>Modules</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <a asp-controller="Instructor" asp-action="HighestGrades"
           style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; font-size: 16px; text-align: center; transition: background-color 0.3s ease, transform 0.2s ease;">
            View Highest Grades
        </a>
        <thead>
        <tr>
            <th>Title</th>
            <th>Difficulty</th>
            <th>Assessments</th>
            <th>Content URL</th>
            <th>Actions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var module in Model)
        {
                <tr>
                    <td>@module.Title</td>
                    <td>@module.difficulty</td>
                    <td>
                        <a asp-action="AssessmentsListInstruct" asp-controller="Instructor" asp-route-courseID="@module.CourseID" asp-route-moduleID="@module.ModuleID" class="btn btn-primary">View Assessments</a>
                    </td>
                    <td>@module.contentURL</td>

                    <td>
                        <a asp-action="DiscussionForums" asp-controller="Instructor" asp-route-courseID="@module.CourseID" asp-route-moduleID="@module.ModuleID" class="btn btn-primary">View Discussion Forums</a>
                    </td>
                </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No Modules found.</p>
}
<a asp-action="AddModule1" asp-controller="Instructor" asp-route-courseID="@Model.FirstOrDefault()?.CourseID"
   class="btn btn-primary">Add Module</a>