@model IEnumerable<TestApp.Models.Course>

@{
    ViewData["Title"] = "Completed Courses";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Title</th>
            <th>Credit Points</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.Title</td>
                <td>@course.credit_points</td>
                <td>@course.course_description</td>
            </tr>
        }
    </tbody>
</table>